[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sklearn = "*"
pandas = "*"
peewee = "*"
tabulate = "*"
altair-saver = "*"
statsmodels = "*"
pillow = "*"
dill = "*"
requests = "*"
bcrypt = "*"
dataclasses = "*"
fastapi = {version = "*", extras = ["all"]}
python-jose = "*"
uvicorn = "*"
passlib = "*"
seaborn = "*"
sqlalchemy = "*"
json-tricks = "*"
numba = "*"

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "==19.10b0"
jedi = "*"
pytest = "*"
jupyter = "*"
jupyterlab = "*"
nb-black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
