[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask-restful = "*"
flask-cors = "*"
flask-praetorian = "*"
flask-sqlalchemy = "*"
pyspellchecker = "*"
nltk = "*"
json-tricks = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"
peewee = "*"
psycopg2-binary = "*"
tabulate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-swagger-ui = "*"
pillow = "*"
requests = "*"
dataclasses = "*"
marshmallow-dataclass = "*"
fastapi = {version = "*", extras = ["all"]}
python-jose = "*"
uvicorn = "*"
passlib = "*"

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "==19.10b0"
jedi = "*"

[requires]
python_version = "3"
