[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "==19.10b0"
jedi = "*"

[packages]
flask-restful = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
pyspellchecker = "*"
nltk = "*"
json-tricks = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"
peewee = "*"
tabulate = "*"
jupyter = "*"
nb-black = "*"
jupyterlab = "*"
altair-saver = "*"
vega-datasets = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
statsmodels = "*"
tensorflow-ranking = "*"
scikeras = "*"
dill = "*"


[requires]
python_version = "3"
