<div class="container">
    <h1 class="title">CIFAR</h1>
    <h2 class="subtitle">
        Let's go and label your pics!
    </h2>


    <div class="columns is-desktop">
        
        <div class="image-container column">

            <figure class="image is-128x128">
                <img :src="samples[count].src" />
            </figure>

            <div class="label">
                <div class="columns">
                    
                    <div class="column">
                        <div class="select">
                            <select v-model="selected">
                                <option v-for="lable in lables" :value="lable.id"> {{lable.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="column">
                        <button v-on:click="send(samples[count].id, selected)" class="button is-info">Send</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <b-loading :is-full-page="false" :active.sync="loading" :can-cancel="false">
    </b-loading>
</div>
