<div class="container">
    <h1 class="title">CIFAR</h1>
    <h2 class="subtitle">
        Let's go and label your pics!
    </h2>
    <div class="columns is-desktop">
        <div v-for="(image, index) in images" class="image-container column">
            <figure class="image">
                <img :src="image.src" />
            </figure>
            <div class="label">
                <div class="columns">
                    <div class="column">
                        <input
                            v-model="labelChunk[index]"
                            :ref="'input-' + index"
                            class="input"
                            type="text"
                            placeholder="Type a label..."
                        />
                    </div>
                    <div class="column is-3">
                        <button v-on:click="send(image.id, labelChunk[index], index)" class="button is-info">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <b-loading :is-full-page="false" :active.sync="loading" :can-cancel="false">
    </b-loading>
</div>
