:root {
  --round: 0.5rem;
  --clr-primary: #002557;
  --clr-primary-light: #def1f7;
  --clr-primary-light-alt: hsl(194, 61%, 80%);
  --clr-danger: #da611b;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-light: hsl(212, 10%, 97%);
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-black);
  background-color: var(--clr-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

ul.toasts li.toast {
  border-radius: var(--round);
}

hr {
  border: 1px solid var(--clr-primary-light-alt);
  border-radius: 16px;
  margin: 2em 0;
}
